{
    "presets": [
        ["env",
        {
            "targets":
            {
                "browsers": ["last 2 versions", "safari >= 7", "ie >= 9"]
            }
        }],
        "stage-0", // ES7编译
        "react" // jsx编译
    ],
    "plugins": [
        "transform-runtime"
    ]
}
