{
	"compact": false,
	"presets": [
		"es2015", //转换es6
		"stage-2", //ES7第三阶段语法提案的转码规
		"react" //转换react的jsx
	],
	"plugins": [
		"transform-object-assign", //Object.assign转换
		["transform-es2015-classes", { //转换es6 class插件
			"loose": false
		}],
		["transform-es2015-modules-commonjs", { //转换es6 module插件
			"loose": false
		}]
	]
}