<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <title>FEZ DEMO</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- inject:bower:css -->
    <!-- bower架库样式 -->
    <!-- endinject -->
    <!-- inject:lib:css -->
    <!-- 项目通用样式 -->
    <!-- endinject -->
    <!-- inject:views:css -->
    <!-- 页面样式 -->
    <!-- endinject -->
</head>

<body>
    <!-- nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="js-header"></nav>
    <!-- jumbotron -->
    <div class="jumbotron">
        <div class="container" id="js-jumbotron"></div>
    </div>
    <div class="container">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fez-game" x="0" y="0"></use>
        </svg>
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fez-plane" x="0" y="0"></use>
        </svg>
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fez-print" x="0" y="0"></use>
        </svg>
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fez-machine" x="0" y="0"></use>
        </svg>
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fez-graphics" x="0" y="0"></use>
        </svg>
        <!-- fezdesc -->
        <div class="row" id="js-fezdesc">
        </div>
        <hr>
        <footer id="js-footer"></footer>
    </div>
    <!-- inject:bower:js -->
    <!-- bower框架库脚本 -->
    <!-- endinject -->
    <!-- inject:lib:js -->
    <!-- 项目通用脚本 -->
    <!-- endinject -->
    <!-- inject:views:js -->
    <!-- 页面脚本 -->
    <!-- endinject -->
</body>

</html>
